{{ define "content" }}

<div class="row">

  {{ range . }}

    <div class="col s12 m12 l8 offset-l2" style="margin-top: 40px;">
      <div class="card" style="border-style: solid; border-width: 2px;">
        <div class="card-image">
          <img src="/static/img/sample.jpg">
          <span class="card-title">{{ .CreatedAt }}</span>
        </div>
        <div class="card-action">
            <a href="/blog/{{ .Id }}" style="font-size: larger;">{{ .Title }}</a>
        </div>
        <div class="card-content" style="color: black;">
            {{ .Description }}
        </div>
      </div>
    </div>

  {{ end }}

</div>

{{ end }}