{{ define "content" }}

<div class="container">
<div class="row" style="margin-top: 40px;">

    <div class="col s10 m10 l4 offset-s1 offset-m1" style="font-size: larger;">
            <p><b>Hello</b> &#128075;&#127995;, my name is Jakub.</p>
            <p>I'm 21-year-old Energy Engineering student at AGH University in Cracow, Poland.</p>
            <p>Beside that I'm a self taught software developer and an amatuer MMA &#129354; fighter.</p>
            <p>On this website I'm going to public some of my web-based projects and share some of my thoughts on various topics.</p>
            <p><s>Graphic design is my passion.</s></p>
    </div>

    <div class="col s10 m10 l7 offset-s1 offset-m1 offset-l1" style="margin-top: 12px;">
       <img class="responsive-img z-depth-3" src="/static/img/me1final3.jpg" style="border-style: solid; border-width: 1px;">
    </div>

</div>
</div>

{{ end }}