{{ define "content" }}

<div class="row" style="margin-top: 20px; border-width: 1px;">
    <div class="col l8 m10 s12 offset-l2 offset-m1" style="padding-left: 2%; padding-right: 2%; padding-top: 4px; padding-bottom: 4px;">
        <div style="margin-top: 40px;"></div>
        <textarea id="title" class="materialize-textarea">{{ .Title }}</textarea>
        <label for="title">Title</label>
        <div style="margin-top: 40px;"></div>
        <textarea id="description" class="materialize-textarea">{{ .Description }}</textarea>
        <label for="description">Description</label>
        <div style="margin-top: 40px;"></div>
        <textarea id="content" class="materialize-textarea">{{ .Content }}</textarea>
        <label for="content">Content</label>
        <div style="margin-top: 40px;"></div>
        <div class="switch">
            <label>
                Is visible to public ?
                <input id="public" type="checkbox" checked="{{ .Public }}">
                <span class="lever"></span>
            </label>
        </div>
        <div style="margin-top: 40px;"></div>
        <button class="btn waves-effect waves-light" type="submit" onclick="updateArticle('{{ .Id }}')">Update
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<script>
    let isPublic = ('{{ .Public }}' === 'true')
    document.getElementById("public").checked = isPublic

    async function updateArticle(id) {
        try {
            const response = await fetch("/articles/update?id=" + id,
                { 
                    method: "PUT",
                    body: JSON.stringify(
                        { 
                            title: document.getElementById("title").value,
                            description: document.getElementById("description").value,
                            content: document.getElementById("content").value,
                            public: document.getElementById("public").checked
                        }
                    ),
                    headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                },
                }
            );
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            window.location.replace("/admin");
            const json = await response.json();
            console.log(json);
        } catch (error) {
            console.error(error.message);
        }
    }

</script>

{{ end }} 